@font-face {
  font-family: averiNextBold;
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: averiNextRegular;
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  font-size: 4px;
  font-family: "averiNextBold";
  box-sizing: border-box;
}

//mobile styles

@mixin pageHeaderMobile {
  font-size: 6rem;
  line-height: 8rem;
  font-family: averiNextBold;
}

@mixin sectionHeaderMobile {
  font-size: 3rem;
  line-height: 5rem;
  font-family: averiNextBold;
}

@mixin subHeaderMobile {
  font-size: 13px;
  line-height: 18px;
  font-family: averiNextBold;
}

@mixin bodyCopyMobile {
  font-size: 13px;
  line-height: 18px;
  font-family: averiNextRegular;
}

@mixin labelButtonMobile {
  font-size: 3rem;
  line-height: 5rem;
  font-family: averiNextBold;
}

@mixin headerTitle {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
  text-transform: capitalize;
}

@mixin subHeadertitle {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 600;
  text-transform: capitalize;
}

@mixin bodyCopyText {
  font-size: 2rem;
  line-height: 22px;
  font-weight: 400;
  text-transform: capitalize;
}

@mixin bodyCopyTextMobile {
  font-size: 2.8rem;
  line-height: 30px;
  font-weight: 400;
  text-transform: capitalize;
}

@mixin padding {
  padding: 3rem 2rem 2rem 2rem;
}

@mixin paddingDesktopTab {
  font-size: 6px;

  padding: 6rem 2rem 6em 2rem;
}

@mixin margin {
  margin: 3rem 2rem 2rem 2rem;
}

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $destop-breakpoint) {
    @content;
  }
}

@mixin buttonMobile {
  margin: 2rem 0;
  height: 10rem;
  width: 100%;
  background-color: $primary-color-black;
  color: $primary-color-white;
  border-radius: 1rem;
  @include headerTitle();
  border: 0px;
  cursor: pointer;
}
