@font-face {
  font-family: averiNextBold;
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: averiNextRegular;
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  font-size: 4px;
  font-family: "averiNextBold";
  box-sizing: border-box;
}

.comments-container__comments-count {
  font-size: 13px;
  line-height: 18px;
  font-family: averiNextBold;
  padding: 4rem;
  padding-bottom: 0;
}
@media (min-width: 769px) {
  .comments-container__comments-count {
    padding: 6rem;
    padding-bottom: 0;
  }
}

.insert-comment-container__main {
  margin: 4rem;
  border-bottom: solid 1px #e1e1e1;
}
@media (min-width: 1280px) {
  .insert-comment-container {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
.insert-comment-container__header {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 4rem;
}
@media (min-width: 1280px) {
  .insert-comment-container__header {
    padding-left: 1rem;
  }
}
.insert-comment-container__image-container {
  padding-top: 12rem;
}
@media (min-width: 769px) {
  .insert-comment-container__image-container {
    padding-top: 8rem;
    padding-bottom: 4rem;
  }
}
.insert-comment-container__side-image {
  border-radius: 50%;
  height: 36px;
  max-width: 36px;
  flex-grow: 0;
}
@media (min-width: 769px) {
  .insert-comment-container__side-image {
    max-width: 10rem;
    min-height: 10rem;
  }
}
.insert-comment-container__main {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #e1e1e1;
}
@media (min-width: 769px) {
  .insert-comment-container__main {
    margin: 0 6rem;
  }
}
@media (min-width: 1280px) {
  .insert-comment-container__main {
    margin: 0 23rem;
  }
}
.insert-comment-container__form-class {
  flex-grow: 1;
  padding: 3rem 2rem 2rem 2rem;
  padding-right: 0;
}
@media (min-width: 769px) {
  .insert-comment-container__form-class {
    padding: 0;
  }
}
.insert-comment-container__form-comment-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 769px) {
  .insert-comment-container__form-comment-container {
    margin-left: 6rem;
  }
}
.insert-comment-container__form-comment-input {
  height: 25rem;
  resize: none;
  margin-bottom: 3rem;
  border: 1px solid #e1e1e1;
  font-size: 13px;
  line-height: 18px;
  font-family: averiNextRegular;
  padding: 2rem;
  color: #323232;
  border-radius: 1rem;
}
@media (min-width: 769px) {
  .insert-comment-container__form-comment-input {
    height: 10rem;
    margin-bottom: 4rem;
  }
}
.insert-comment-container__form-comment-input:focus {
  color: #323232;
}
.insert-comment-container__form-comment-label {
  font-size: 13px;
  line-height: 18px;
  font-family: averiNextBold;
  padding: 2rem 0;
  color: #afafaf;
}
.insert-comment-container__form-button {
  height: 10rem;
  width: 100%;
  border-radius: 1rem;
  border: 1px solid;
  font-size: 13px;
  line-height: 18px;
  font-family: averiNextBold;
  color: #ffffff;
  background: url("../assets/Icons/add_comment.svg"), #0095ff;
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 1rem 2.5rem;
  margin-bottom: 3rem;
}
@media (min-width: 769px) {
  .insert-comment-container__form-button {
    display: none;
  }
}
.insert-comment-container__form-button--tablet {
  height: 10rem;
  min-width: 150px;
  border-radius: 1rem;
  border: 1px solid;
  font-size: 13px;
  line-height: 18px;
  font-family: averiNextBold;
  color: #ffffff;
  background: url("../assets/Icons/add_comment.svg"), #0095ff;
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 1rem 2.5rem;
  margin: 0 8rem;
}
@media (min-width: 769px) {
  .insert-comment-container__form-button--tablet {
    margin: 0;
    margin-left: 6rem;
  }
}
.insert-comment-container__button-container--tablet {
  display: none;
}
@media (min-width: 769px) {
  .insert-comment-container__button-container--tablet {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 4rem;
  }
}/*# sourceMappingURL=commentsSection.css.map */