@use "./partials/colors" as *;
@import "./partials/global";

.comments-details-container {
  display: flex;
  margin: 0 4rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid $secondary-color-mercury;
  margin-bottom: 3rem;

  @include tablet() {
    padding: 6rem 0;
    margin: 0 9rem;
    @include desktop() {
      margin: 0 63px;
      margin-right: 0;
    }
  }

  &:last-child {
    @include desktop() {
      border-bottom: none;
    }
  }
  &__image {
    border-radius: 50%;
    height: 36px;
    min-width: 36px;
    margin-right: 2rem;

    background-color: $secondary-color-mercury;
    @include tablet() {
      min-height: 40px;
      min-width: 40px;
      margin: 0;
      margin-left: 6rem;
    }
  }

  &__header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  &__right-main {
    display: flex;
    flex-direction: column;
    @include tablet() {
      padding-left: 6rem;
      margin-right: 6rem;
    }
  }

  &__name {
    @include subHeaderMobile();
    @include tablet() {
      @include bodyCopyText();
    }
  }
  &__date {
    @include bodyCopyMobile();
    color: $primary-color-silver;
    @include tablet() {
      @include bodyCopyTextMobile();
    }
  }
  &__comments-details {
    padding-top: 2rem;
    @include bodyCopyMobile();
    @include tablet() {
      @include bodyCopyTextMobile();
    }
  }
}
