@import "./partials/colors";
@import "./partials/global";

.comments-container {
  &__comments-count {
    @include subHeaderMobile();
    padding: 4rem;
    padding-bottom: 0;
  }
}

.insert-comment-container {
  &__main {
    margin: 4rem;
    border-bottom: solid 1px $secondary-color-mercury;
  }
  @include desktop() {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  &__header {
    @include headerTitle();
    font-size: 4rem;
    @include desktop() {
      padding-left: 1rem;
    }
  }

  &__image-container {
    padding-top: 12rem;
  }

  &__side-image {
    border-radius: 50%;
    height: 36px;
    max-width: 36px;
    flex-grow: 0;

    @include tablet() {
      height: 48px;
      max-width: 48px;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px $secondary-color-mercury;
    @include tablet() {
      margin: 0 12rem;
    }

    @include desktop() {
      margin: 0 23rem;
    }
  }

  &__form-class {
    flex-grow: 1;
    @include padding();
    padding-right: 0;
  }

  &__form-comment-container {
    display: flex;
    flex-direction: column;
  }

  &__form-comment-input {
    height: 25rem;
    resize: none;
    margin-bottom: 3rem;
    border: 1px solid $secondary-color-mercury;
    @include bodyCopyMobile();
    padding: 2rem;
    color: $primary-color-black;
    border-radius: 1rem;

    &:focus {
      color: $primary-color-black;
    }
  }

  &__form-comment-label {
    @include subHeaderMobile();
    padding: 2rem 0;
    color: $primary-color-silver;
  }

  &__form-button {
    height: 10rem;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid;
    @include subHeaderMobile();
    color: $primary-color-white;
    background: url("../assets/Icons/add_comment.svg"), $primary-color-blue;
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 1rem 2.5rem;
    margin-bottom: 3rem;

    @include tablet() {
      width: 30%;
    }
  }

  &__button-container {
    @include tablet() {
      display: flex;
      justify-content: flex-end;
    }
  }
}
