@font-face {
  font-family: averiNextBold;
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: averiNextRegular;
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  font-size: 4px;
  font-family: "averiNextBold";
  box-sizing: border-box;
}

.header {
  padding: 0 6rem;
}
@media (min-width: 769px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 0 9rem;
  }
}
.header__logo-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media (min-width: 769px) {
  .header__logo-container {
    padding-top: 6rem;
    padding-bottom: 4rem;
  }
}
.header__logo {
  max-width: 30rem;
  max-height: 25px;
}
.header__search-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 3rem;
}
@media (min-width: 769px) {
  .header__search-container {
    display: none;
  }
}
.header__search-box {
  background: url("../assets/Icons/search.svg");
  background-repeat: no-repeat;
  background-position: 2rem 2rem;
  padding: 1rem 1rem 1rem 8rem;
  font-family: averiNextRegular;
  font-size: 13px;
  line-height: 18px;
  font-family: averiNextBold;
  border: 1px solid #e1e1e1;
  border-radius: 1rem;
  width: 100%;
  min-height: 9rem;
  min-width: 240px;
}
.header__search-box--tablet {
  background: url("../assets/Icons/search.svg");
  background-repeat: no-repeat;
  background-position: 2rem 2rem;
  padding: 1rem 1rem 1rem 8rem;
  font-family: averiNextRegular;
  font-size: 13px;
  line-height: 18px;
  font-family: averiNextBold;
  border: 1px solid #e1e1e1;
  border-radius: 1rem;
  width: 100%;
  min-height: 9rem;
  min-width: 240px;
}
.header__search-box-container {
  width: 100%;
  padding-right: 2rem;
}
.header__search-box-container--tablet {
  width: 100%;
  padding-right: 2rem;
}
.header__icon {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
.header__icon-container {
  padding-left: 4rem;
}
.header__upload-container {
  width: 100%;
  padding: 3rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
}
@media (min-width: 769px) {
  .header__upload-container {
    display: none;
  }
}
.header__upload-container--tablet {
  min-width: 150px;
  margin: 0 8rem;
}
.header__upload-button {
  height: 10rem;
  width: 100%;
  border-radius: 1rem;
  border: 1px solid;
  font-size: 13px;
  line-height: 18px;
  font-family: averiNextBold;
  color: #ffffff;
  background: url("../assets/Icons/upload.svg"), #0095ff;
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 1rem 2.5rem;
}
.header__upload-button--tablet {
  height: 10rem;
  width: 100%;
  border-radius: 1rem;
  border: 1px solid;
  font-size: 13px;
  line-height: 18px;
  font-family: averiNextBold;
  color: #ffffff;
  background: url("../assets/Icons/upload.svg"), #0095ff;
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 1rem 2.5rem;
}
.header__right-main-container--tablet {
  display: none;
}
@media (min-width: 769px) {
  .header__right-main-container--tablet {
    display: flex;
    padding-top: 6rem;
    padding-bottom: 4rem;
  }
}
.header__icon--tablet {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}/*# sourceMappingURL=header.css.map */