@use "./partials/colors" as *;
@import "./partials/global";

.Hero-container__main {
  @include tablet() {
    height: 100%;
    background-color: $secondary-color-dark-black;
    padding: 0 3rem;
    display: flex;
    justify-content: center;
  }
}

.Hero-container__main-video {
  height: 30%;
  width: 100%;

  @include tablet() {
    aspect-ratio: 16/9;
    width: 85vw;
  }
}
