@font-face {
  font-family: averiNextBold;
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: averiNextRegular;
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  font-size: 4px;
  font-family: "averiNextBold";
  box-sizing: border-box;
}

.upload-page-header {
  padding: 4rem;
  font-size: 6rem;
  line-height: 8rem;
  font-family: averiNextBold;
}
.upload-page__hero-section-title {
  padding: 0 4rem;
  font-size: 3rem;
  line-height: 5rem;
  font-family: averiNextBold;
  color: #afafaf;
}
.upload-page__hero-section-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 1rem;
}
.upload-page__hero-section-image-container {
  padding: 0 4rem;
}

.upload-form__label-title {
  font-size: 3rem;
  line-height: 5rem;
  font-family: averiNextBold;
  color: #afafaf;
  padding: 0 4rem;
}
.upload-form__label-description {
  font-size: 3rem;
  line-height: 5rem;
  font-family: averiNextBold;
  color: #afafaf;
  padding: 4rem 4rem 0;
}
.upload-form__input-description {
  min-height: 9rem;
  border-radius: 1rem;
  width: 100%;
  padding-left: 3rem;
  height: 100%;
  font-size: 13px;
  line-height: 18px;
  font-family: averiNextRegular;
  border: solid 1px #e1e1e1;
}
.upload-form__input-description::-moz-placeholder {
  vertical-align: top;
  color: #000000;
}
.upload-form__input-description:-ms-input-placeholder {
  vertical-align: top;
  color: #000000;
}
.upload-form__input-description::placeholder {
  vertical-align: top;
  color: #000000;
}
.upload-form__input-description-container {
  margin: 0 4rem;
  min-width: 240px;
  height: 20rem;
}
.upload-form__input-title {
  padding: 3rem;
  width: 100%;
  font-size: 13px;
  line-height: 18px;
  font-family: averiNextRegular;
  border: solid 1px #e1e1e1;
}
.upload-form__input-title::-moz-placeholder {
  color: #000000;
}
.upload-form__input-title:-ms-input-placeholder {
  color: #000000;
}
.upload-form__input-title::placeholder {
  color: #000000;
}
.upload-form__input-title-container {
  margin: 0 4rem;
  min-width: 240px;
}
.upload-form__button-container-main {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}
.upload-form__publish-button {
  cursor: pointer;
  height: 10rem;
  width: 100%;
  border-radius: 1rem;
  border: 1px solid;
  font-size: 13px;
  line-height: 18px;
  font-family: averiNextBold;
  color: #ffffff;
  background: url("../assets//Icons/publish.svg"), #0095ff;
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 1rem 2.5rem;
  margin-bottom: 4rem;
}
.upload-form__publish-button--tablet {
  cursor: pointer;
  height: 10rem;
  width: 100%;
  border-radius: 1rem;
  border: 1px solid;
  font-size: 14px;
  line-height: 22px;
  font-family: averiNextBold;
  color: #ffffff;
  background: url("../assets//Icons/publish.svg"), #0095ff;
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 1rem 2.5rem;
}
.upload-form__cancel-button {
  cursor: pointer;
  height: 10rem;
  width: 100%;
  border: 0;
  font-size: 13px;
  line-height: 18px;
  font-family: averiNextBold;
  color: #0095ff;
  background: #ffffff;
}
.upload-form__cancel-button--tablet {
  cursor: pointer;
  height: 10rem;
  width: 100%;
  border: 0px;
  font-size: 14px;
  line-height: 22px;
  font-family: averiNextBold;
  color: #ffffff;
  background-repeat: no-repeat;
}/*# sourceMappingURL=UploadPage.css.map */