@font-face {
  font-family: averiNextBold;
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: averiNextRegular;
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  font-size: 4px;
  font-family: "averiNextBold";
  box-sizing: border-box;
}

.upload-page__desktop-main {
  display: none;
}
@media (min-width: 1280px) {
  .upload-page__desktop-main {
    display: inline;
    width: 50%;
  }
}
@media (min-width: 1280px) {
  .upload-page__mobile-main {
    display: none;
  }
}
.upload-page-header {
  padding: 4rem;
  font-size: 6rem;
  line-height: 8rem;
  font-family: averiNextBold;
}
@media (min-width: 769px) {
  .upload-page-header {
    margin: 8rem;
    padding: 0;
    padding-bottom: 6rem;
    font-size: 33px;
    line-height: 11rem;
    font-family: averiNextBold;
    border-bottom: 1px solid #e1e1e1;
  }
}
@media (min-width: 769px) and (min-width: 1280px) {
  .upload-page-header {
    margin: 0 63px;
    padding: 6rem;
  }
}
@media (min-width: 1280px) {
  .upload-page__hero-section {
    width: 34%;
  }
}
.upload-page__hero-section-title {
  padding: 0 4rem;
  font-size: 3rem;
  line-height: 5rem;
  font-family: averiNextBold;
  color: #afafaf;
}
@media (min-width: 769px) {
  .upload-page__hero-section-title {
    padding: 0 8rem;
  }
}
@media (min-width: 769px) and (min-width: 1280px) {
  .upload-page__hero-section-title {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.upload-page__hero-section-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 1rem;
}
.upload-page__hero-section-image-container {
  padding: 0 4rem;
}
@media (min-width: 769px) {
  .upload-page__hero-section-image {
    width: 50%;
    padding-left: 4rem;
  }
}
@media (min-width: 1280px) {
  .upload-page__hero-section-image {
    width: 100%;
  }
}

.upload-form-desktop {
  display: none;
}
.upload-form__label-title {
  font-size: 3rem;
  line-height: 5rem;
  font-family: averiNextBold;
  color: #afafaf;
  padding: 0 4rem;
}
@media (min-width: 769px) {
  .upload-form__label-title {
    padding: 4rem 8rem;
  }
}
.upload-form__label-description {
  font-size: 3rem;
  line-height: 5rem;
  font-family: averiNextBold;
  color: #afafaf;
  padding: 4rem 8rem;
}
.upload-form__input-description {
  min-height: 9rem;
  border-radius: 1rem;
  width: 100%;
  padding-left: 3rem;
  height: 100%;
  padding-bottom: 20rem;
  padding-top: 3rem;
  font-size: 13px;
  line-height: 18px;
  font-family: averiNextRegular;
  border: solid 1px #e1e1e1;
}
.upload-form__input-description::-moz-placeholder {
  vertical-align: top;
  color: #000000;
}
.upload-form__input-description:-ms-input-placeholder {
  vertical-align: top;
  color: #000000;
}
.upload-form__input-description::placeholder {
  vertical-align: top;
  color: #000000;
}
.upload-form__input-description-container {
  margin: 0 4rem;
  min-width: 240px;
}
@media (min-width: 769px) {
  .upload-form__input-description-container {
    padding-bottom: 6rem;
    border-bottom: 2px solid #e1e1e1;
    margin: 0 8rem;
  }
}
.upload-form__input-title {
  padding: 3rem;
  width: 100%;
  font-size: 13px;
  line-height: 18px;
  font-family: averiNextRegular;
  border: solid 1px #e1e1e1;
}
.upload-form__input-title::-moz-placeholder {
  color: #000000;
}
.upload-form__input-title:-ms-input-placeholder {
  color: #000000;
}
.upload-form__input-title::placeholder {
  color: #000000;
}
.upload-form__input-title-container {
  margin: 0 4rem;
  min-width: 240px;
}
@media (min-width: 769px) {
  .upload-form__input-title-container {
    margin: 0 8rem;
  }
}
.upload-form__button-container-main {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}
@media (min-width: 769px) {
  .upload-form__button-container-main {
    display: none;
  }
}
.upload-form__button-container-main--tablet {
  display: none;
}
@media (min-width: 769px) {
  .upload-form__button-container-main--tablet {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    flex-direction: row;
    margin-left: 50%;
    padding-top: 6rem;
  }
}
.upload-form__publish-button {
  cursor: pointer;
  height: 10rem;
  width: 100%;
  border-radius: 1rem;
  border: 1px solid;
  font-size: 13px;
  line-height: 18px;
  font-family: averiNextBold;
  color: #ffffff;
  background: url("../assets//Icons/publish.svg"), #0095ff;
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 1rem 2.5rem;
  margin-bottom: 4rem;
}
.upload-form__publish-button--tablet {
  cursor: pointer;
  height: 10rem;
  width: 100%;
  border-radius: 1rem;
  border: 1px solid;
  font-size: 14px;
  line-height: 22px;
  font-family: averiNextBold;
  color: #ffffff;
  background: url("../assets//Icons/publish.svg"), #0095ff;
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 1rem 2.5rem;
}
.upload-form__cancel-button {
  cursor: pointer;
  height: 10rem;
  width: 100%;
  border: 0;
  font-size: 13px;
  line-height: 18px;
  font-family: averiNextBold;
  color: #0095ff;
  background: #ffffff;
}
.upload-form__cancel-button--tablet {
  cursor: pointer;
  height: 10rem;
  width: 100%;
  border: 0px;
  font-size: 14px;
  line-height: 22px;
  font-family: averiNextBold;
  color: #ffffff;
  background-repeat: no-repeat;
}

@media (min-width: 1280px) {
  .upload-page-header__desktop-main {
    display: flex;
  }
}/*# sourceMappingURL=UploadPage.css.map */