@import "./partials/colors";
@import "./partials/global";

.video-details-container {
  &__details-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $secondary-color-mercury;
    margin-left: 4rem;
    margin-right: 4rem;
    align-items: center;
    align-content: center;

    @include tablet() {
      margin: 0 6rem;
      padding-bottom: 3rem;
    }
  }
  &__heading-container {
    border-bottom: 1px solid $secondary-color-mercury;
    margin-left: 4rem;
    margin-right: 4rem;
    padding-top: 6rem;
    @include tablet() {
      margin: 0 6rem;
      padding-bottom: 6rem;
      border: none;
    }
  }
  &__heading {
    @include pageHeaderMobile();
    padding-bottom: 4rem;
    @include tablet() {
      padding-bottom: 0;
    }
  }

  &__left-section {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;

    @include tablet() {
      flex-direction: row;
      padding: 0;
    }
  }

  &__channel-name {
    @include sectionHeaderMobile();
  }

  &__time-stamp {
    @include bodyCopyMobile();
    font-size: 3rem;
    color: $primary-color-silver;
    padding-top: 4rem;
    padding-bottom: 3rem;

    @include tablet() {
      padding-top: 0;
      padding-bottom: 0;
      margin-left: 6rem;
    }
  }
  &__right-section {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-right: 25%;

    @include tablet() {
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
  }
  &__views-container {
    display: flex;
    align-content: center;
    align-items: center;
  }

  &__likes-container {
    display: flex;
    align-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 3rem;

    @include tablet() {
      margin-left: 6rem;
      padding: 0;
    }
  }

  &__views-info {
    @include bodyCopyMobile();
    font-size: 3rem;
    color: $primary-color-silver;
  }

  &__likes-info {
    @include bodyCopyMobile();
    font-size: 3rem;
    color: $primary-color-silver;
  }

  &__likes-icon {
    padding-right: 2rem;
  }

  &__view-icon {
    padding-right: 2rem;
  }

  &__video-information-main-container {
    padding-top: 3rem;
  }

  &__video-information {
    @include bodyCopyMobile();
    padding: 0 4rem;
    @include tablet() {
      padding: 0 6rem;
    }
  }
}
