@import "./partials/colors";
@import "./partials/global";

.video-list-main {
  &__video-main-container {
    display: flex;
    padding: 4rem;
    justify-content: flex-start;
    @include tablet() {
      margin-left: 9rem;
      margin-right: 9rem;

      padding-left: 6rem;
      padding-right: 6rem;
      padding-bottom: 6rem;
      padding-top: 0;
      @include desktop() {
        margin: 0;
        padding-right: 0;
      }
    }
  }
  &__header {
    @include subHeaderMobile();
    color: $primary-color-silver;
  }
  &__video-title {
    @include subHeaderMobile();
    @include desktop() {
      width: 70%;
    }
  }
  &__video-channel {
    @include bodyCopyMobile();
    padding-top: 3rem;
  }

  &__side-video {
    height: 17rem;
    min-width: 25rem;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 3rem;
    cursor: pointer;
  }

  &__video-details-main {
    @include tablet() {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include desktop() {
        width: 65%;
      }
    }
  }
  &__header {
    padding: 0 4rem;
    @include tablet() {
      margin: 6rem 9rem;
      padding: 0 6rem;
      @include desktop() {
        margin: 6rem 0;
      }
    }
  }
}

.desktop-main {
  @include desktop() {
    display: flex;
  }

  &__desktop-sub-container {
    @include desktop() {
      border-right: 1px solid $secondary-color-mercury;
      width: 70vw;
    }
  }

  &__video-list {
    @include desktop() {
      width: 30vw;
      margin-right: 63px;
    }
  }
}
