@font-face {
  font-family: averiNextBold;
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: averiNextRegular;
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  font-size: 4px;
  font-family: "averiNextBold";
  box-sizing: border-box;
}

@media (min-width: 1280px) {
  .video-details-container {
    margin-bottom: 20rem;
  }
}
.video-details-container__details-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e1e1e1;
  margin-left: 4rem;
  margin-right: 4rem;
  align-items: center;
  align-content: center;
}
@media (min-width: 769px) {
  .video-details-container__details-container {
    margin: 0 9rem;
    padding: 0 6rem;
    padding-bottom: 4rem;
  }
}
@media (min-width: 769px) and (min-width: 1280px) {
  .video-details-container__details-container {
    margin: 0 63px;
    margin-right: 0;
  }
}
.video-details-container__heading-container {
  border-bottom: 1px solid #e1e1e1;
  margin-left: 4rem;
  margin-right: 4rem;
  padding-top: 6rem;
}
@media (min-width: 769px) {
  .video-details-container__heading-container {
    margin: 0 9rem;
    padding: 6rem;
    border: none;
  }
}
@media (min-width: 769px) and (min-width: 1280px) {
  .video-details-container__heading-container {
    margin: 0 63px;
  }
}
.video-details-container__heading {
  font-size: 6rem;
  line-height: 8rem;
  font-family: averiNextBold;
  padding-bottom: 4rem;
}
@media (min-width: 769px) {
  .video-details-container__heading {
    padding-bottom: 0;
    font-size: 33px;
    line-height: 11rem;
    font-family: averiNextBold;
  }
}
.video-details-container__left-section {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}
@media (min-width: 769px) {
  .video-details-container__left-section {
    flex-direction: row;
    padding: 0;
  }
}
@media (min-width: 769px) and (min-width: 1280px) {
  .video-details-container__left-section {
    justify-content: space-between;
    text-align: center;
  }
}
.video-details-container__channel-name {
  font-size: 3rem;
  line-height: 5rem;
  font-family: averiNextBold;
}
@media (min-width: 769px) {
  .video-details-container__channel-name {
    font-size: 4rem;
    line-height: 5rem;
    font-family: averiNextBold;
  }
}
.video-details-container__time-stamp {
  font-size: 13px;
  line-height: 18px;
  font-family: averiNextRegular;
  font-size: 3rem;
  color: #afafaf;
  padding-top: 4rem;
  padding-bottom: 3rem;
}
@media (min-width: 769px) {
  .video-details-container__time-stamp {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 6rem;
    font-size: 14px;
    line-height: 22px;
    font-family: averiNextRegular;
  }
}
@media (min-width: 769px) and (min-width: 1280px) {
  .video-details-container__time-stamp {
    padding-top: 1.9px;
  }
}
.video-details-container__right-section {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-right: 25%;
}
@media (min-width: 769px) {
  .video-details-container__right-section {
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}
.video-details-container__views-container {
  display: flex;
  align-content: center;
  align-items: center;
}
.video-details-container__likes-container {
  display: flex;
  align-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 3rem;
}
@media (min-width: 769px) {
  .video-details-container__likes-container {
    margin-left: 6rem;
    padding: 0;
  }
}
.video-details-container__views-info {
  font-size: 13px;
  line-height: 18px;
  font-family: averiNextRegular;
  font-size: 3rem;
  color: #afafaf;
}
@media (min-width: 769px) {
  .video-details-container__views-info {
    font-size: 14px;
    line-height: 22px;
    font-family: averiNextRegular;
  }
}
.video-details-container__likes-info {
  font-size: 13px;
  line-height: 18px;
  font-family: averiNextRegular;
  font-size: 3rem;
  color: #afafaf;
}
@media (min-width: 769px) {
  .video-details-container__likes-info {
    font-size: 14px;
    line-height: 22px;
    font-family: averiNextRegular;
  }
}
.video-details-container__likes-icon {
  padding-right: 2rem;
}
.video-details-container__view-icon {
  padding-right: 2rem;
}
.video-details-container__video-information-main-container {
  padding-top: 3rem;
}
.video-details-container__video-information {
  font-size: 13px;
  line-height: 18px;
  font-family: averiNextRegular;
  padding: 0 4rem;
}
@media (min-width: 769px) {
  .video-details-container__video-information {
    font-size: 14px;
    line-height: 22px;
    font-family: averiNextRegular;
    margin: 0 9rem;
    padding: 0 6rem;
  }
}
@media (min-width: 769px) and (min-width: 1280px) {
  .video-details-container__video-information {
    margin: 0 63px;
    margin-right: 0;
  }
}/*# sourceMappingURL=VideoDetails.css.map */